{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'red_tip2.js') }}"></script>

<div class="row" id="page-title">
    <div class="col-12">
        <h1>AI art is procedural
        </h1>
        <h4>Most AI generated art contains little to no brush strokes. In real art, the brush strokes are apparent, and artists make sure to vary these strokes.
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-6 text-center image-container">
        <h4>AI-Generated</h4>
        <img id="img1" src="{{url_for('static', filename='mountains/red_ai_mountains.png')}}" alt="ai mountains annotated">
        <div id="zoom-result1" class="img-zoom-result" style="position: absolute;"></div>
    </div>
    <div class="col-6 text-center image-container">
        <h4>Real</h4>
        <img id="img2" src="{{url_for('static', filename='mountains/red_mountains.png')}}" alt="mountains annotated">
        <div id="zoom-result2" class="img-zoom-result" style="position: absolute;"></div>
    </div>
</div>

    <div class="row">
      <div class="col-6 text-left">
        <a href="/tips/2" class="btn btn-secondary" role="button">Previous</a>
      </div>
      <div class="col-6 text-right">
        <a href="/tips/3" class="btn btn-primary" role="button">Next</a>
      </div>
    </div>
{% endblock %}