{% extends "layout.html" %}

{% block content %}
<div class="row" id="page-title">
    <div class="col-12">
        <h1>AI art is procedural
        </h1>
        <h4>Most AI generated art contains little to no brush strokes. In real art, the brush strokes are apparent, and artists make sure to vary these strokes.
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-6 text-center">
        <img src="{{url_for('static', filename='mountains/red_ai_mountains.png')}}" alt="ai mountains annotated">
    </div>
    <div class="col-6 text-center">
        <img src="{{url_for('static', filename='mountains/red_mountains.png')}}" alt="mountains annotated">
    </div>
</div>

    <div class="row">
      <div class="col-6 text-left">
        <a href="/tips/2" class="btn btn-secondary" role="button">Previous</a>
      </div>
      <div class="col-6 text-right">
        <a href="/tips/3" class="btn btn-primary" role="button">Next</a>
      </div>
    </div>
{% endblock %}