{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'red_tip3.js') }}"></script>

<div class="row" id="page-title">
    <div class="col-12">
        <h1>AI art is simple
        </h1>
        <h4>AI generated art cannot generate complex or realistic scenes with human figures. The smaller details are all distorted. In real complex scenery, the finer details are accurately portrayed.
        </h4>
    </div>
</div>
<div class="row">
    <div class="col-6 text-center image-container">
        <img id="img1" src="{{url_for('static', filename='town/red_ai_town.png')}}" alt="ai town annotated">
        <div id="zoom-result1" class="img-zoom-result" style="position: absolute;"></div>
    </div>
    <div class="col-6 text-center image-container">
        <img id="img2" src="{{url_for('static', filename='town/red_town.png')}}" alt="town annotated">
        <div id="zoom-result2" class="img-zoom-result" style="position: absolute;"></div>
    </div>
</div>

    <div class="row">
      <div class="col-6 text-left">
        <a href="/tips/3" class="btn btn-secondary" role="button">Previous</a>
      </div>
      <div class="col-6 text-right">
        <a href="/tips/4" class="btn btn-primary" role="button">Next</a>
      </div>
    </div>
{% endblock %}