{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'red_tip1_2.js') }}"></script>

<div class="row" id="page-title">
    <div class="col-12">
      <div class="lesson-main-title">AI Art is more uniform</div>
        <h4>When you look at AI generated art closely, you will see that the pieces lack <b>complex details</b>. In real artwork, artists tend to really focus on including interesting <b>minute details</b> that you may not notice initially.</h4>
    </div>
</div>
<div class="row">
    <div class="col-6 text-center image-container">
      <h4>AI-Generated</h4>
        <img id="img1" src="{{url_for('static', filename='girls/red_ai_girls.png')}}" alt="ai three girls annotated">
        <div id="zoom-result1" class="img-zoom-result" style="position: absolute;"></div>
    </div>
    <div class="col-6 text-center image-container">
        <h4>Real</h4>
        <img id="img2" src="{{url_for('static', filename='girls/red_girls.png')}}" alt="three girls annotated">
        <div id="zoom-result2" class="img-zoom-result" style="position: absolute;"></div>
    </div>
</div>

    <div class="row">
      <div class="col-6 text-left">
        <a href="/tips/1_2"><button class="prev-lesson-button">Previous</button></a>
      </div>
      <div class="col-6 text-right">
        <a href="/tips/2_1"><button class="next-lesson-button">Next</button></a>
      </div>
    </div>
{% endblock %}