{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'red_tip4.js') }}"></script>


<div class="row" id="page-title">
    <div class="col-12">
      <div class="lesson-main-title">AI art lacks emotion</div>
      <h4>Even when you tell an AI to generate its “most emotional image”, the image provided seems <b>shallow and mechanical</b>, as if a robot is trying to replicate emotion. Real art evokes true emotion in the viewer.</h4>
    </div>
</div>
<div class="row">
    <div class="col-6 text-center image-container">
        <h4>AI-Generated</h4>
        <img id="img1" src="{{url_for('static', filename='emotion/red_ai_emotion.png')}}" alt="ai emotion annotated">
        <div id="zoom-result1" class="img-zoom-result" style="position: absolute;"></div>
    </div>
    <div class="col-6 text-center">
        <h4>Real</h4>
        <img id="img2" src="{{url_for('static', filename='emotion/red_emotion.png')}}" alt="emotion annotated">
        <div id="zoom-result2" class="img-zoom-result" style="position: absolute;"></div>
    </div>
</div>

    <div class="row">
      <div class="col-6 text-left">
        <a href="/tips/4"><button class="prev-lesson-button">Previous</button></a>
      </div>
      <div class="col-6 text-right">
        <a href="/tips/5"><button class="next-lesson-button">Next</button></a>
      </div>
    </div>
{% endblock %}