{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        {% if file.ai %}
            <h1>Incorrect! This image was made using AI.</h1>
        {% else %}
            <h1>Incorrect! This image was made by humans.</h1>
        {% endif %}
        <div class="row">
            <div class="col-6">
                <img src = {{file.url}} alt="{{file.description}}" class="img-fluid">
            </div>
            <div class="col-6">
                {% if file.ai %}
                    <h3>How do we know this is AI-generated? {{file.analysis}}</h4>
                {% else %}    
                    <h3>This is {{file.name}} by {{file.artist}}</h4>
                    <h3>How do we know this is human-generated? {{file.analysis}}</h4>
                {% endif %}
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        {% if file.ai %}
            <a href="/quiz/{{file.id}}/correct" class="btn btn-secondary non-clicked" role="button">AI-Generated</a>
        {% else %}
            <a href="/quiz/{{file.id}}/incorrect" class="btn btn-secondary clicked-incorrect" role="button">AI-Generated</a>
        {% endif %}
    </div>
    <div class="col-6">
        {% if file.ai %}
            <a href="/quiz/{{file.id}}/incorrect" class="btn btn-secondary clicked-incorrect" role="button">Human-Generated</a>
        {% else %}
            <a href="/quiz/{{file.id}}/correct" class="btn btn-secondary non-clicked" role="button">Human-Generated</a>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-12 text-right">
        <a href="/quiz/{{file.id + 1}}"><button class="next-lesson-button" role="button">Next Question!</button></a>
    </div>
</div>

{% endblock %}