{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>

<div class="row">
    <div class="col-12 quiz-image">
        <div class="quiz-header">Is the following artwork AI generated or real? </div>
        <img src = {{file.url}} alt="{{file.description}}" class="img-fluid">
        <div id="zoom-result1" class="img-zoom-result" style="position: absolute;"></div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        {% if file.ai %}
            <a href="/quiz/{{file.id}}/correct" class="correct-btn btn btn-secondary" role="button">AI-Generated</a>
        {% else %}
            <a href="/quiz/{{file.id}}/incorrect" class="btn btn-secondary" role="button">AI-Generated</a>
        {% endif %}
    </div>
    <div class="col-6 quiz-results-image">
        {% if file.ai %}
            <a href="/quiz/{{file.id}}/incorrect" class="btn btn-secondary" role="button">Human-Generated</a>
        {% else %}
            <a href="/quiz/{{file.id}}/correct" class="correct-btn btn btn-secondary" role="button">Human-Generated</a>
        {% endif %}
    </div>
</div>

{% endblock %}