body {
    font-family: century-gothic, sans-serif;
    background-color: rgb(235,235,235);
}

b {
    color: rgb(218,24,70);
}

.next-lesson-button {
    border: none;
    color: white;
    background-color: rgb(218,24,70);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 8px; /* Makes the corners rounded */
    transition-duration: 0.4s; /* Smooth transition for mouse hover effect */
}

.prev-lesson-button {
    border: none;
    color: white;
    background-color: rgb(41,43,57);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 8px; /* Makes the corners rounded */
    transition-duration: 0.4s; /* Smooth transition for mouse hover effect */
}

#navigationBar {
    background-color: rgb(41,43,57);
    color: white;
}

.nav-item.nav-link.active {
    color: rgb(246,70,65) !important;  /* Change the color as needed */
}

.nav-brand.nav-link.active {
    color: rgb(246,70,65) !important;  /* Change the color as needed */
}

#homepage-title {
    margin-top: 20%;
    margin-bottom: 3%;
    text-align: center;
}

#homepage-main-title {
    color: rgb(246,70,65);
    font-size: 60px;
    font-weight: bolder;
}

.lesson-main-title {
    color: rgb(246,70,65);
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
}

#homepage-main-subtitle {
    font-size: 20px;
}

.highlighted-button {
    border: none;
    color: white;
    background-color: rgb(218,24,70);
    padding: 40px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 25px; /* Makes the corners rounded */
    transition-duration: 0.4s; /* Smooth transition for mouse hover effect */
}

.muted-button {
    border: none;
    color: white;
    background-color: rgb(41,43,57);
    padding: 40px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-left: 2%;
    cursor: pointer;
    border-radius: 25px; /* Makes the corners rounded */
    transition-duration: 0.4s; /* Smooth transition for mouse hover effect */
}

#page-title {
    margin-top: 8%;
    margin-bottom: 2%;
    text-align: center;
}

.btn-custom {
    min-width: 150px; /* Set minimum width for buttons */
    margin: 5px; /* Add some margin around buttons */
}

img {
    max-height: 400px; /* Set minimum width for buttons */
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;       
}

.image-container {
    position: relative;
}

.img-zoom-result {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 300px;
    height: 200px;
    overflow: hidden;
    display: none;
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    visibility: hidden;
    opacity: 0.4;
    background-color: white;
}

.clicked-correct {
    pointer-events: none;
    background-color: rgb(158, 194, 132);
    border: none;
}

.clicked-incorrect {
    pointer-events: none;
    background: rgb(204, 118, 115);
    border: none;
}

.non-clicked {
    pointer-events: none;
    background-color: rgb(110, 117, 124);
}
