body {
    font-family: century-gothic, sans-serif;
    background-color: rgb(235,235,235);
}

b {
    color: rgb(218,24,70);
}

.next-lesson-button {
    border: none;
    color: white;
    background-color: rgb(218,24,70);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 8px; /* Makes the corners rounded */
    transition-duration: 0.4s; /* Smooth transition for mouse hover effect */
    margin-top: 150px;
    margin-bottom: 30px;
}

.prev-lesson-button {
    border: none;
    color: white;
    background-color: rgb(41,43,57);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 8px; /* Makes the corners rounded */
    transition-duration: 0.4s; /* Smooth transition for mouse hover effect */
    margin-top: 150px;
    margin-bottom: 30px;
}

#navigationBar {
    background-color: rgb(41,43,57);
    color: white;
}

.nav-item.nav-link.active {
    color: rgb(246,70,65) !important;  /* Change the color as needed */
}

.nav-brand.nav-link.active {
    color: rgb(246,70,65) !important;  /* Change the color as needed */
}

#homepage-title {
    margin-top: 20%;
    margin-bottom: 3%;
    text-align: center;
}

#homepage-main-title {
    color: rgb(246,70,65);
    font-size: 60px;
    font-weight: bolder;
}

.lesson-main-title {
    color: rgb(246,70,65);
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 10px;
}

#homepage-main-subtitle {
    font-size: 20px;
}

.highlighted-button {
    border: none;
    color: white;
    background-color: rgb(218,24,70);
    padding: 40px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-right: 2%;
    cursor: pointer;
    border-radius: 25px; /* Makes the corners rounded */
    transition-duration: 0.2s; /* Smooth transition for mouse hover effect */
}

.highlighted-button:hover {
    background-color: rgb(231, 114, 130); /* Change the background color to a paler red */
}

.muted-button {
    border: none;
    color: white;
    background-color: rgb(41,43,57);
    padding: 40px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-left: 2%;
    cursor: pointer;
    border-radius: 25px; /* Makes the corners rounded */
    transition-duration: 0.2s; /* Smooth transition for mouse hover effect */
}

.muted-button:hover {
    background-color: rgb(160, 165, 194);
    color: black
}

#page-title {
    margin-top: 8%;
    margin-bottom: 2%;
    text-align: center;
}

.btn-custom {
    min-width: 150px; /* Set minimum width for buttons */
    margin: 5px; /* Add some margin around buttons */
}

img {
    position: relative;
    max-height: 400px; /* Set minimum width for buttons */
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.image-container {
    position: relative;
}

.img-zoom-result {
    position: absolute;
    border: 1px solid #d4d4d4;
    width: 300px;
    height: 200px;
    overflow: hidden;
    display: none;
    left: 50%;
    transform: translate(-50%, 0%);
}

.img-zoom-lens {
    position: absolute;
    border: 1px solid #000;
    width: 100px;
    height: 100px;
    visibility: hidden;
    opacity: 0.4;
    background-color: white;
    z-index: 10;
}

.quiz-header {
    margin-top: 4%;
    margin-bottom: 2%;
    text-align: center;
    display: block;
    font-size: 2.5em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.quiz-image {
    text-align: center;
}

.quiz-results-image {
    text-align: right;
}

.clicked-correct {
    pointer-events: none;
    background-color: rgb(158, 194, 132);
    border: none;
}

.clicked-incorrect {
    pointer-events: none;
    background: rgb(204, 118, 115);
    border: none;
}

.quiz-button-margin{
    min-width: 150px; 
    margin: 5px; 
    margin-top: 9px;
}

.non-clicked {
    pointer-events: none;
    background-color: rgb(110, 117, 124);
}
