{% extends "layout.html" %}

{% block content %}
<div class="row" id="homepage-title">
    <div class="col-12">
        <div id="homepage-main-title">AI-Generated Art vs. Real Art
        </div>
        <div id="homepage-main-subtitle">How can you tell the difference?
        </div>
    </div>
</div>
<div class="row">
    <div class="col text-center">
        <a href="/tips/1"><button id="start-learning-button">Start Learning!</button></a>
        <a href="/quiz/start"><button id="take-quiz-button">Take the Quiz</button></a>
    </div>
</div>
{% endblock %}